{
  "trailingComma": "es5",
  "tabWidth": 2,

  "semi": false,
  "printWidth": 108,
  "singleQuote": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.yaml",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
